 <!--==========================
      Clients Section
    ============================-->
    <section id="clients" class="section-bg">
      <div class="container">

        <header class="section-header">
          <h3>Our Clients</h3>
          <p>Lipsum dolar sit emijud ujsder bueydahf jjdghah ghajdhf fhajsfj gjjbsfk igauyg fhhaksdf jaskdf ajsd fjasfdj.</p>
        </header>

        <div class="wow fadeInUp">
        <div class="owl-carousel clients-carousel">
          <img src="assets/img/clients/client-1.png" alt="">
          <img src="assets/img/clients/client-2.png" alt="">
          <img src="assets/img/clients/client-3.png" alt="">
          <img src="assets/img/clients/client-4.png" alt="">
          <img src="assets/img/clients/client-5.png" alt="">
          <img src="assets/img/clients/client-6.png" alt="">
          <img src="assets/img/clients/client-7.png" alt="">
          <img src="assets/img/clients/client-8.png" alt="">
        </div>
</div> 

      </div>
    </section><!-- #clients -->