<section id="about" class="section-bg">

  <div class="container">
      <div class="section-header">
          <h3>{{ about.ptitle }}</h3>
      </div>
      <div class="row wow fadeInUp">

          <div class="col-lg-5 col-md-6">
              <div class="about-img">
                  <img [src]="about.mainimg" alt="main image">
              </div>
          </div>

          <div class="col-lg-7 col-md-6">
              <div class="about-content">
                  <h3>{{ about.subheading }}</h3>
                  <p>{{ about.para1 }}</p>
                  <ul>
                      <li *ngFor="let list of bpoints"><i class="ion-android-checkmark-circle"></i> {{ list }}</li>
                  </ul>
              </div>
          </div>
      </div>
  </div>

</section>

<!-- Refer this video for  Data Binding in Angular
    https://www.youtube.com/watch?v=_W0udgI0QvA&list=PLC8OkhrVTHNHi6Do0etu_wMvAvjdjukQp&index=6 -->