<app-header></app-header>

  <main id="main">
    <!-- 
    <app-intro></app-intro>
    <app-about></app-about>
    <app-services></app-services>
    <app-whyus></app-whyus>
    <app-cta></app-cta>
    <app-features></app-features>
    <app-portfolio></app-portfolio>
    <app-testimonials></app-testimonials>
    <app-team></app-team>
    <app-clients></app-clients>
    <app-pricing></app-pricing>
    <app-faqs></app-faqs> -->
    <router-outlet></router-outlet>
  </main>

<app-footer></app-footer>

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
  <!-- Uncomment below i you want to use a preloader -->
  <div id="preloader"></div>



